 body {
    background-image: url('/Assests/background.jpg');
    font-family: Roboto;
}

#logo {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

nav {
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px 0px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#active a {
    font-weight: 400;
    text-decoration: underline;
}

#profile a {
    font-weight: 500;
    text-decoration: underline;
}

