body {
    background-image: url('/Assests/background-2.jpg');
    font-family: Roboto;
}

#logo {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    padding: 8px;
}

nav {
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 40px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

nav ul li {
    padding: 8px 0px;
}

nav ul li a:link {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

nav ul li a:visited {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#active a {
    font-weight: 400;
    text-decoration: underline;
}


#profile a {
    font-weight: 500;
    text-decoration: underline;
    font-size: 28px;
}

nav ul li img {
    width: 50px;
    height: 50px;
    display: block;
    padding: 0;
    border: 2px solid #000;
    border-radius: 50px;
}

section {
    display: flex;
}

#post {
    display: block;
    width: 1350px;
    border: 5px solid #fff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px;
    margin-top: 10px;
    margin-left: 20px;
    align-items: center;
}

#arrow-1 {
    margin-left: 10px;
}

#post h1 {
    color: #fff;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    margin-left: 15px;
}

#post p {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    margin-left: 50px;
}

#header {
    display: flex;
    align-items: center;
}

#post input {
    width: 960px;
    padding: 17px 20px;
    background-color: #494949;
    border: #494949;
    border-radius: 50px;
    color: #fff;
    margin: 0;
    margin-top: 25px;
    margin-left: 45px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
}

button {
    display: inline-block;
    border-radius: 50px;
    background-color: #000;
    border: 2px solid #fff;
    color: #FFFFFF;
    text-align: center;
    font-size: 26px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
   padding-right: 25px;
   color: #000;
}

button:hover {
    background-color: #fff;
}
 
button:hover span:after {
   opacity: 1;
   right: 0;
}

.comments {
    display: grid;
    grid-template-columns: 115px 900px 200px;
    grid-template-rows: repeat(10, 120px);
    row-gap: 16px;
    column-gap: 16px;
    margin: 0;
    margin-left: 50px;
    margin-top: 20px;
}

#ava-comm {
    display: inline-block;
}

#avatar-pic {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border-radius: 50px;
}

#comment h2 {
    margin: 0;
    margin-top: 5px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
}

#comment a:link {
    text-decoration: none;
    color: #fff;
}

#comment a:visited {
    text-decoration: none;
    color: #fff;
}

#comment a:hover {
    text-decoration: underline;
    color: #fff;
}

#comment p {
    margin: 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
}

#date h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: rgb(145, 145, 145);
    text-align: center;
    margin: 0;
    margin-top: 45px;
}

#profile-1 {
    display: flex;
    width: 500px;
    height: 770px;
    border: 5px solid #fff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top: 10px;
    margin-left: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row
}

#profile-1 img {
    width: 350px;
    height: 350px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 15px;
}

#stats {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(5, 40px);
    row-gap: 10px;
    column-gap: 16px;
    margin: 0;
    margin-left: 5px;
    margin-top: 0px;
}

#stats h2 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    text-align: center;
}

#profile-1 button {
    margin-bottom: 20px;

}
#profile-1 a:link {
    color: #fff;
    text-decoration: none;
}

#profile-1 a:visited {
    color: #fff;
    text-decoration: none;
}

#profile-1 a:hover {
    color: #fff;
    text-decoration: underline;
}

footer {
    color: #fff;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 100;
    text-align: center;
}

footer p {
    margin: 0;
    margin-top: 16px;
}