body {
    background-image: url('/Assests/background-2.jpg');
    font-family: Roboto;
}

#logo {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    padding: 8px;
}

#navbar-1 {
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 40px;
}

#navbar-1 ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

#navbar-1 ul li {
    padding: 8px 0px;
}

#navbar-1 ul li a:link {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#navbar-1 ul li a:visited {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#navbar-1 ul li a:hover {
    text-decoration: underline;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#navbar-1 #active a {
    font-weight: 400;
    text-decoration: underline;
}


#navbar-1 #profile a {
    font-weight: 500;
    text-decoration: underline;
    font-size: 28px;
}

#navbar-1 ul li img {
    width: 50px;
    height: 50px;
    display: block;
    padding: 0;
    border: 2px solid #000;
    border-radius: 50px;
}

section {
    display: flex;
}

.container {
    width: 1400px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

#navbar-2 ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

#navbar-2 ul li {
    padding: 8px 0px;
}

#navbar-2 ul li a:link {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#navbar-2 ul li a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#navbar-2 ul li a:hover {
    text-decoration: underline;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#navbar-2 #active-1 a {
    font-weight: 400;
    text-decoration: underline;
}

.container-2 {
    width: 430px;
    height: 760px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

#articles {
    display: grid;
    grid-template-columns: 140px 740px 200px 200px;
    grid-template-rows: repeat(10,90px);
    column-gap: 15px;
    row-gap: 14px;
    margin: 20px;
}

#article {
    margin-left: 25px;
    display: flex;
}

#avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0;
    margin-left: 5px;
}

#article-text h2 {
    color: #fff;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
}

#article-text h2 a:link {
    color: #fff;
    text-decoration: none;
}

#article-text h2 a:visited {
    color: #fff;
    text-decoration: none;
}

#article-text h2 a:hover {
    color: #fff;
    text-decoration: underline;
}

#article-text p {
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    margin-top: 2px;
}

#articles h3 {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.container-2 h2 {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
}

#sidebar {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: repeat(8,60px);
    row-gap: 15px;
    margin-top: 5px;
}

#text h3 {
    color: #fff;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    margin-top: 8px;
    margin-left: 22px;
}

#text a:link {
    color: #fff;
    text-decoration: none;
}

#text a:visited {
    color: #fff;
    text-decoration: none;
}

#text a:hover {
    color: #fff;
    text-decoration: underline;
}

#text p {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    margin-top: 6px;
    margin-left: 22px;
}

footer {
    color: #fff;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 100;
    text-align: center;
}

footer p {
    margin: 0;
    margin-top: 16px;
}