body {
    background-image: url('/Assests/background-2.jpg');
    font-family: Roboto;
}

#logo {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    padding: 8px;
}

nav {
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 40px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

nav ul li {
    padding: 8px 0px;
}

nav ul li a:link {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

nav ul li a:visited {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #000;
    font-size: 28px;
    font-weight: 300;
    align-items: center;
}

#active a {
    font-weight: 400;
    text-decoration: underline;
}


#profile a {
    font-weight: 500;
    text-decoration: underline;
    font-size: 28px;
}

nav ul li img {
    width: 50px;
    height: 50px;
    display: block;
    padding: 0;
    border: 2px solid #000;
    border-radius: 50px;
}

footer {
    color: #fff;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 100;
    text-align: center;
}

footer p {
    margin: 0;
    margin-top: 16px;
}